.carousel-container {
    
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px
  }
  
.slick-slider{
  margin-top:30px;
}

  .slick-prev:before,
  .slick-next:before {
    content: none; /* Remove default arrows */
  }
  
  .slick-prev,
  .slick-next {
    z-index: 1;
  }
  
  .slick-prev {
    left: -25px;
  }
  
  .slick-next {
    right: -25px;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .product-card {
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 200px;
    width: 250px;  
    height: 274px; 
    box-sizing: border-box;
    
  }
  
  .product-card .product-details {
    width: 100%;
    text-align: center;
  }
  .product-card img {
    max-width: 100%;
    max-height: 70%;
  }
  
  .product-title{
    font-size: small;
  }

  .buy-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #0056b3;
  }

  .buy-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #0056b3;
  }

  .button-add{
    color: blue;
  }